---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Opeoluwa Omotunde
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://Oppynana.github.io" target="_blank" class="font-bold">Opeoluwa Omotunde</a> 
    <!-- Digital Marketer. You can keep this line to support my work :) -->
    <a href="https://github.com/Oppynana/" target="_blank" class="font-bold"></a>
  </div>
</footer>
<style></style>
